{% extends "base.html" %} {% block title %}Medbot {% endblock %}
{% block content%}

<h1>Welcome to our AI-Driven Healthcare Chatbot</h1>
  <p>The AI-powered chatbot is a state-of-the-art conversational assistant designed to provide healthcare-related information and support.</p>
  <p>Using advanced Natural Language Processing (NLP) and Deep Learning technologies, our chatbot can understand your queries and respond with accurate and relevant information.</p>
  <h2>Features:</h2>
  <ul>
    <li>Identify symptoms and provide information on associated diseases.</li>
    <li>Offer insights into disease causes and recommended treatments.</li>
    <li>Provide user-friendly and interactive conversational experience.</li>
    <li>Seamless integration with Azure Health Bot service for easy access through web and mobile interfaces.</li>
    <li>Promote health awareness and informed decision-making for users.</li>
    <li>Adhere to ethical guidelines and avoid spreading misinformation.</li>
  </ul>
  <h2>How to Use:</h2>
  <p>Simply enter your symptoms or health concerns in the chatbox, and the chatbot will provide you with relevant information and recommendations.</p>
  <p>Get started today and experience the benefits of our AI-driven chatbot for healthcare!</p>

{% endblock %}