{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Healthcare Hub for International Students</h1>
    <p class="hero-subtitle">Your Comprehensive Guide to Medical Issues Abroad</p>
    <a href="#medical-issues" class="cta-button">Explore Medical Issues</a>
  </div>
</section>

<!-- Introduction Section -->
<section class="introduction-section">
  <div class="container">
      <h1>Welcome to the Healthcare Hub for International Students!</h1>
      <p>
          Studying abroad is an incredible experience, but we understand that it comes with its unique set of
          challenges, particularly when it comes to your health. Whether you're embarking on a new educational
          journey or already pursuing your dreams in a foreign country, we are here to support you every step of
          the way.
      </p>
      <p>
          Our mission is to provide you with a comprehensive guide to medical issues faced by international
          students, helping you navigate through the complexities of healthcare systems in unfamiliar territories.
          We have curated a wealth of information, tips, and resources to ensure you have the knowledge and
          confidence to prioritize your well-being during your study abroad adventure.
      </p>
      <p>
          At our Healthcare Hub, you'll find essential insights into common medical challenges, mental health
          concerns, insurance information, vaccinations, and much more. We believe that a healthy student is a
          successful student, and our goal is to empower you to make informed decisions about your health while
          studying away from home.
      </p>
      <p>
          Explore our extensive library of articles, videos, and guides to help you stay healthy, happy, and
          thriving during your time abroad. Should you ever need any assistance or have questions, our team is
          always here to lend a helping hand.
      </p>
      <p>
          Your health matters to us, and we're honored to be your companion on this transformative journey.
          Let's make your study abroad experience a truly enriching and healthy one.
      </p>
      <p>Safe travels and best wishes,</p>
      <p>The Healthcare Hub Team</p>
  </div>
</section>
<br>
<!-- Medical Issues Section -->
<section class="medical-issues-section" id="medical-issues">
  <div class="container">
      <h2 class="section-title">Common Medical Issues Faced by International Students</h2>
      <div class="medical-issues-content">
          
        <section class="cards-wrapper">
          <div class="card-grid-space">
            
            <a class="card" href="/register" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/9/95/Medical_Care.jpg')">
              <div>
                <h1>Register with a GP</h1>
                <p>Learn how to register with a General Practicionor(GP)</p>
                
                <div class="tags">
                  <div class="tag">GP</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
            
            <a class="card" href="/ES" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/d/d6/AHSEMS.jpg')">
              <div>
                <h1>Emergency services</h1>
                <p>Learn how to call emergency services in the UK</p>
        
                <div class="tags">
                  <div class="tag">999</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
            
            <a class="card" href="/Diet" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/4/46/NUTRITION_FACTS.jpg')">
              <div>
                <h1>Diet and Nutrition</h1>
                <p>Learn about Diet and Nutrition for international students</p>
                
                <div class="tags">
                  <div class="tag">Diet</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
            
            <a class="card" href="/Language" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/7/75/Oral_communication.jpg')">
              <div>
                <h1>Language Barriers</h1>
                <p></p>
                
                <div class="tags">
                  <div class="tag">Language</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
            
            <a class="card" href="/Sleep" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Sleep_disorders_following_TBI.jpg')">
              <div>
                <h1>Sleep Problems</h1>
                <p></p>
                
                <div class="tags">
                  <div class="tag">Sleep</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
            
            <a class="card" href="/Cul" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/World_Map.jpg')">
              <div>
                <h1>Cultural Differences in Healthcare</h1>
                <p></p>
                
                <div class="tags">
                  <div class="tag">Culture</div>
                </div>
              </div>
            </a>
          </div>
        
          
        </section>


         

      </div>
  </div>
</section>


<!-- Resources Section -->
<section class="resources-section" id="resources">
  <div class="container">
    <h2 class="section-title">Resources and Tools</h2>
    <div class="resources-content">
      <div class="resource">
        <h3>Medical Chatbot</h3>
        <p>Explore our AI chatbot that can provide medical information based on the information from the NHS.</p>
        <a href="/bot" class="btn">Read More</a>
      </div>
      <div class="resource">
        <h3>BMI Calculator</h3>
        <p>The BMI calculator assesses an individual's health status by analyzing their weight in relation to their height, although its simplicity doesn't account for nuances like muscle mass or other health factors.</p>
        <a href="/BMI" class="btn">Explore</a>
      </div>
      <div class="resource">
        <h3>Dietary Planner Tool:</h3>
        <p>Craft tailored meal plans catering to your dietary preferences and goals with our intuitive Dietary Planner Tool. </p>
        <a href="/Plan" class="btn">Learn More</a>
      </div>
     
    </div>
  </div>
</section>


<!-- About Us Section -->
<section class="about-us-section" id="about">
  <div class="container">
    <div class="about-us-content">
      <h2 class="section-title">About Us</h2>
      <div class="about-description">
        <p>Welcome to the Healthcare Hub for International Students!</p>
        <p>
          We understand that studying abroad comes with unique challenges, especially when it comes to healthcare. Our website is dedicated to providing comprehensive information on medical issues faced by international students, ensuring you have the knowledge and support you need to prioritize your well-being during your study abroad journey.
        </p>
        <p>
          Our team consists of international students who have firsthand knowledge of the challenges faced by students abroad. We are passionate about helping you stay healthy, happy, and thriving while studying away from home.
        </p>
      </div>
      <div class="mission-statement">
        <h3>Mission Statement</h3>
        <p>
          Our mission is to empower international students with the necessary resources and guidance to navigate the complexities of healthcare systems in foreign countries. We aim to be your reliable companion, providing valuable insights into common medical issues, mental health concerns, insurance information, vaccinations, and more.
        </p>
        <p>
          We believe that access to accurate and up-to-date healthcare information is essential for a successful study abroad experience. Our goal is to ensure that you are well-informed and equipped to make informed decisions about your health, enabling you to focus on your academic and personal growth.
        </p>
        <p>
          At Healthcare Hub, we are committed to creating a supportive community where international students can share their experiences, exchange advice, and find a sense of belonging. Together, we strive to make your study abroad adventure healthier and more enriching.
        </p>
      </div>
    </div>
  </div>
</section>



{% endblock %}
